<p>my-comp works!</p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam iusto, animi atque ex doloremque repellat quae soluta quisquam officiis commodi voluptas molestias dolorem nisi rem autem dolorum error? Accusamus, laudantium?</p>
<button (click)="decre()" type="button">--</button>
<span>{{this.count}}</span>
<button (click)="incre()" type="button">++</button><br>
<span *ngIf="count>0">Greater than 0</span><br>
<span *ngIf="count==0">oops 0</span><br>
<span *ngIf="count<0">going down from 0</span>
<ul>
  <li *ngFor="let fal of fruits">{{fal+" Noob"}}</li>
</ul>
{{nom}}
<br>
{{sum}} <br>

<span  *ngFor="let stud of students">{{stud.name+" "+stud.age+" "+stud.div}} <br> </span>
<style>
  table {
    width: 100%;
    border-collapse: collapse;
  }
  table,
  th,
  td {
    border: 1px solid black;
  }
  thead {
    background-color: #1c87c9;
    color: #ffffff;
  }
  th {
    text-align: center;
    height: 50px;
  }
  tbody tr:nth-child(odd) {
    background: #ffffff;
  }
  tbody tr:nth-child(even) {
    background: #f4f4f4;
  }
</style>

<table>
  <thead>
    <tr>
      <th>Club name</th>
      <th>club cat</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let stud of clubs">
      <td>{{stud.club_name}}</td>
      <td>{{stud.cat}}</td>
      <!-- <td>Some text</td> -->
    </tr>

  </tbody>
</table>
<br>
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown link
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
