<div class="container">
    <div class="row g-3">
        <form [formGroup]="myForm" (ngSubmit)="submit()"> <!-- form group -->
            <div class="col">
                <input type="text" formControlName="fname" class="form-control" placeholder="First name" aria-label="First name">
            </div>
            <div class="col">
                <input [type]="lihayla" formControlName="lname" class="form-control" placeholder="Last name" aria-label="Last name">
            </div>
            <button [disabled]="!myForm.valid" class="btn btn-primary" type="submit">SUbmit</button>
        </form>
    </div>
</div>

<img [src]="imgSrc" width="200" height="200" alt="">